html { font-size: 62.5%; }

body {
    background-color: #ddd;
    color: #333;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: red;
}

.content {
    padding: 1em .5em;
}

.item {
    max-width: 100%;
    width: 100%;
}

.item_inner {
    background-color: #fff;
    border: 2px solid #ccc;
    margin: .5em;
    padding: 1em 0;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 0 .5em .5em .25em;
}

.item_body img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.description {
    font-size: 1.6em;
    padding: .8em;
    line-height:1.3em;
}



.clear { clear: both; }

.website {
    font-family: Arial;
    font-size: 1.5em;
    padding: 0 0.5em 0 0;
    font-weight: bold;
    color: #777;
}

.favicon {
    background-repeat: no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 0.5em;
}

.body_ltr .favicon {
    float: left;
    margin-right: 0.5em;
}

.c_14030bf27452f5d62339e5393a522a7a {
    background-image: url(http://ir.voanews.com/img/voa/favicon.ico);
}

.c_01b462a2a6e36957c57dfd6ecca8981b {
    background-image: url(http://www.radiofarda.com/img/rfe/favicon.ico);
}

.c_6625256dd6674e70cfbf0a097edbc72b {
    background-image: url(http://www.amerikaninsesi.com/img/voa/favicon.ico);
}


@media (min-width: 600px) {

	.item {
	    float: left;
	    max-width: 50%;
	    width: 50%;
	}

}


@media (min-width: 600px) and (max-width: 899px) {
	.item:nth-child(2n+1) { clear: both; }
}


@media (min-width: 900px) {

	.item {
	    max-width: 33.3333%;
	    width: 33.3333%;
	}

	.item:nth-child(3n+1) { clear: both; }

}
